extends layout
block css
block scripts
block header
  div Для поиска, введите MAC адрес в любом формате 01:02:03:AB:CD:EF, 010203abcdef, 0102.03ab.cdef
block content
  p Введённая строка будет преобразована в регулярное выражение.
    br
  p Если MAC-адрес для поиска введён не полностью, то поиск будет осуществляться в любой части MAC адреса.
    br
    |Пример: выражении в строке запроса 010203, найдёт&nbsp
    strong 010203
    |ABCDEF, EF
    strong 010203
    |ABCD, EFDCAD
    strong 010203
  div Допустимо использовать специальные символы:
  ul
    li Звездочка '*'. Указывает, что символ может отсутствовать или присутствовать в любых количествах.
      br
      | Пример: выражение /ab*c/ найдет строки 'ac', 'abc', 'abbc' и т.д.
    li Плюс '+'. Указывает, что символ обязан присутствовать и может присутствовать в любых количествах.
      br
      | Пример: выражение /ab+c/ найдет строки 'abc', 'abbc', 'abbbc' и т.д., но не найдет строку 'ac'.
    li  Знак вопроса '?'. Указывает, что символ может как присутствовать, так и нет, но при этом не может повторяться более одного раза.
      br
      | Пример: выражение /ab?c/ найдет строки 'ac' и 'abc', но не найдет строку 'abbc'.
    li Знак ^ - начало строки.
      | Пример: ^010203 - MAC-адрес должен начинаться с 010203:&nbsp
      strong 010203
      |ABCDEF
    li Знак $ - конец строки.
      | Пример: АBCDEF$ - MAC-адрес должен заканчиваться на АBCDEF:&nbsp
      |010203
      strong ABCDEF
  form(method="POST" action="/searchMAC")
    input(name="mac" pattern="[0-9a-fA-F.:-*.?]+" placeholder="MAC адрес" required title="MAC адрес в формате 01:02:03:AB:CD:EF, 010203abcdef, 0102.03ab.cdef")
    input(type="submit" value="Найти")
    input(type="reset" value="Очистить")
