table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000;
  padding: 0.25em;
}

td.center {
  text-align: center;
}

.mono {
  font-family: monospace;
}

.switchInfo {
  cursor: pointer;
}
